html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 0, 0);
}

html.dark-theme {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0px;
}

body.dark-theme {
    background-color: rgb(46, 46, 46);
    margin: 0px;
}

/* canvas {
    border: none;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
} */

button {
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-size: 25px;
}

.container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
}

.header {  /* nav flex */
    display: flex;
    flex-direction: row;
    /* position: fixed; */
    z-index: 1000;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 5px;
    background-color: rgb(189,189,189,0.5);
}

.header-dark {  /* nav flex */
    display: flex;
    flex-direction: row;
    /* position: fixed; */
    z-index: 1000;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 5px;
    background-color: rgb(0, 0, 0);
}

@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 765px){
    
    .header {
        flex-direction: column;
        height: 80px
    }

    .header-dark {
        flex-direction: column;
        height: 80px
    }

}

.header > * {
    flex: 0.1 100 auto;
}

.header-dark > * {
    flex: 0.1 100 auto;
}

.admin-div {
    width: 100px;
    margin-left: 50px;
}

@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 765px){
    
    .admin-div{
        justify-self: center;
        align-self: center;
        font-size: 10px;
    }

    .admin-header{
        display: flex;
        flex-direction: row;
    }


}

.admin{
    color: red;
}

.pagina {
    /* font-size: 5; */
    width: 600px;
    display: inline-block;
    align-items: center;
    list-style-type: none;
}

@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 765px){
    
    .pagina {
        font-size: 10px;
        width: 300px
    }

}


.pagina li {
    display: inline-block;
    margin-right: 10px;
}

.pagina a {
    text-decoration: none; /* Remove underline from links */
    color: rgb(164, 164, 164); /* Inherit the color from the parent */
}

.pagina h2 {
    display: inline; /* Make sure h2 is inline to align correctly with the arrow */
    margin: 0; /* Remove default margin */
}

.pagina h2::after {
    color: rgb(255, 255, 255); /* Sets the color to white */
    font-size: 80%; /* Optionally adjust font size */
    font-weight: bold; /* Optionally make it bold */
    padding-left: 5px; /* Add some space between the h2 text and the arrow */
}

.footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 5px;
    background-color: rgba(189, 189, 189, 0.5);
    font-weight: bold;
    /* color: rgb(164, 164, 164) */
}

.footer-dark {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    /* color: rgb(164, 164, 164) */
}

@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 765px){

    .footer {
        font-size: 10px ;
    }

    .footer-dark {
        font-size: 10px ;
    }

}

.footer > * {
    flex: 1 100 0;
    align-items: center;
    justify-content: center;
}

.footer-dark > * {
    flex: 1 100 0;
    align-items: center;
    justify-content: center;
}

@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 765px){

    .footer > * {
        flex: 1 100 0;
        align-items: center;
        justify-content: center;
    }

    .footer-dark > * {
        flex: 1 100 0;
        align-items: center;
        justify-content: center;
    }

}

.foot-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}



@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 765px){

    #mode-text {
        margin: 3px;
    }
}


.foot-2 {
    display: flex;
}

@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 765px){

    .copyright {
        align-self: center;
        justify-self: center;
        text-align: center;
    }

    .mode-text {
        margin: 1px;
    }
}

.admin-credits * {
    margin: 10px;
}

.admin-credits {
    display: flex;
    flex-direction: row;
}

.main {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 100px;
    margin-top: 50px;
    /* min-width: none; */
}



.main-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 100px;
    /* color: white; */
    min-width: none;
}

@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 765px){
    
    .main {
        display: grid;
        margin:10px;
        margin-bottom: 50px;
    }

    .main-upload {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 100px;
        margin-top: 20px;
        /* color: white; */
        min-width: none;
    }

}

.horizontal-line {
    height: 1px;
    width: 90%;
    background-color: rgb(0, 0, 0);
}

.horizontal-line-dark {
    height: 1px;
    width: 90%;
    background-color: white;
}

.section1 {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: left;
}

.section2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.section3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.contact-speech {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    text-align: center;
}

@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 765px){

    .section1{
        justify-content: center;
    }

    .section2 {
        justify-content: center;
    }
    
    .section3 {
        justify-content: center;
    }

    .contact-speech {
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 300px;
        margin-left: 75px;
    }
}

.contact-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.piece {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px 2px;
}


.piece-dark {
    display: flex;
    margin-bottom: 30px;
    padding: 10px;
    /* flex: 200px 2px; */
    border-radius: 10px 2px;
}

.piece-info {
    margin-top: 20px;
    margin-left: 100px
}

.audio-stream {
    display: flex;
    flex-direction: row;
    /* margin-left: 300px; */
}


.info-song {
    display:flex;
    flex-direction: column;
    margin:5px;
}

.stream {
    display: flex;
    /* align-items: center; */
    width: 320px;
    flex-direction: column;
    margin: 20px;
}

@media only screen
    and (min-device-width: 360px) 
    and (max-device-width: 765px){

    #metal-piece {
        display: grid;
        flex-direction: column;
    }

    #movie-piece {
        display: grid;
        flex-direction: column;
    }

    #electr-piece {
        display: grid;
        flex-direction: column;
    }
    
    .piece-info {
        display: grid;
        align-self: center;
        justify-self: center;
        margin-left: 0%;
    }

    .portfolio-piece-info {
        display: grid;
        align-self: center;
        justify-self: center;
        text-align: center;
        margin-left: 0%;
    }

    .titolo{
        align-self: center;
        justify-self: center;
        /* text-align: center; */
    }

    .data {
        align-self: center;
        justify-self: center;
    }

    .descrizione {
        margin: 20px;
        align-self: center;
        justify-self: center;
    }

    .audio-stream{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title-song {
        align-self: center;
        justify-self: center;
    }

    .stream {
        display: flex;
        align-items: center;
        width: 320px;
        flex-direction: column;
        margin: 20px;
    }
}




.player-audio {
    /* margin: 10px; */
    width: 300px;
    height: 30px;
    border: 5px solid #000;
    background-color: #ffffff; /* Cambia il colore di sfondo */
    border-radius: 10px; /* Aggiungi angoli arrotondati */
}

.widget {
    display: grid;
    padding: 2px;
    margin-left: 50px;
    position: fixed;
    bottom: 10%;
}

.form-switch {
    display: inline-block;
    cursor: pointer;
}

.form-switch input {
    display: none;
}

.form-switch i {
    position: relative;
    display: inline-block;
    margin-right: 0.5rem;
    width: 46px;
    height: 26px;
    background-color: #e6e6e6;
    border-radius: 23px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    vertical-align: text-bottom;
    transition: all 0.3s;
}

.form-switch i::before {
    content: "";
    position: absolute;
    left: 0;
    width: 42px;
    height: 22px;
    background-color: #fff;
    border-radius: 11px;
    transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
    transition: all 0.3s;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
}

.form-switch i::after {
    content: "";
    position: absolute;
    left: 0;
    width: 22px;
    height: 22px;
    background-color: #ffffff;
    border-radius: 11px;
    transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
    transition: all 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.form-switch:active i::after {
    width: 28px;
    transform: translate3d(2px, 2px, 0);
}
.form-switch:active input:checked + i::after {
    transform: translate3d(16px, 2px, 0);
}

.form-switch input:checked + i {
    background-color: #404040;
}

.form-switch input:checked + i::before {
    transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}
.form-switch input:checked + i::after {
    transform: translate3d(22px, 2px, 0);
}

.button-zoom {
    width: 50px;
    height: 50px;
    border-radius: 30%;
}

.div_items {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    width: 300px;
    height: 700px;
    padding: 10px;
    margin: 50px;
    /* border: 3px solid; */
    box-shadow: 0px 10px 50px 1px black;
    background-color: rgb(216,216,216);
}

.div_items-dark {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    width: 300px;
    height: 700px;
    padding: 10px;
    margin: 50px;
    /* border: 3px solid; */
    box-shadow: 0px 10px 50px 1px black;
    background-color: rgb(46, 46, 46);
}

.div_items-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    margin: 50px;
    box-shadow: 0px 1px 10px 1px black;
    /* color: rgb(255, 255, 255); */
    background-color: rgb(216, 216, 216);
}

.div_items-contact-dark {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    margin: 50px;
    box-shadow: 0px 1px 10px 1px black;
    /* color: rgb(255, 255, 255); */
    background-color: rgb(216, 216, 216);
}

.div_items-contact-dark {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    margin: 50px;
    box-shadow: 0px 10px 50px 1px black;
    color: rgb(255, 255, 255);
    background-color: rgb(46, 46, 46);
}

.titolo {
    margin: 0%;
}

.title {
    text-transform: uppercase;
    background-image: linear-gradient(
      -270deg,
      #000000 0%,
      rgb(220,220,220,0.5) 29%,
      rgb(220,220,220,0.5) 67%,
      rgb(220,220,220,0.5) 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 30px;
    margin-left: 100px;
}

.title-dark {
    text-transform: uppercase;
    background-image: linear-gradient(
      -270deg,
      #ffffff 0%,
      #000000 29%,
      #000000 67%,
      #000000 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 30px;
    margin-left: 100px;
}

@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 765px){
    
    .title {
        padding-bottom: 0%;
        font-size: 20px;
        margin-left: 0%;
        margin-bottom: 0%;
        margin-top: 0%;
        height: 50px;
        width: none;
        justify-self: center;
        align-self: center;
    }

    .title-dark {
        padding-bottom: 0%;
        font-size: 20px;
        margin-left: 0%;
        margin-bottom: 0%;
        margin-top: 0%;
        height: 50px;
        width: none;
        justify-self: center;
        align-self: center;
    }
}

.download-portfolio {
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    transition: background-color 0.3s ease;
    box-shadow: 0px 10px 50px 1px black;
    background-image: linear-gradient(
        -270deg,
        #ffffff 0%,
        #000000 29%,
        #000000 67%,
        #000000 100%
      );
      background-size: 200% auto;
      animation: textclip 3s linear infinite;
      display: inline-block;
}


@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.responses-info {
    overflow-wrap: break-word; /* Alternativa moderna a word-wrap */
    white-space: normal;
}

.admin {
    position: right;
}

.log-section {
    display: flex;
    flex-direction: row;
}

.password-login {
    display: flex;
    flex-direction: column;
}

.deleter {
    margin-left: 100px;
}



.title-section {
    align-self: up;
}


.body-section {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    flex-wrap: wrap;
    align-self: center;
    padding: 12px;
    margin: 10px;
}

@media only screen

    and (min-device-width: 360px) 
    and (max-device-width: 765px){

    #title-section {
        display: grid;
        align-self: center;
        justify-self: center;
        text-align: center;
    }

    .deleter {
        margin: 10px;
        align-self: center;
    }
}

#file-input-label {
    font-size: 23px;
    background-color: white;
    border: 2px solid black;
    border-radius: 4%;
    padding: 3px 15px;
}

#filePNG,#fileInput,#file-id {
    display: none;
    align-items: center;
    margin-left: 50px;
}

#testoId,#titoloId,#mailId {

    width: 300px;

}

